@charset "utf-8";
%d-more{background: url(../images/HLloading.gif) no-repeat;background-size: 16px 16px;}
%d-shake{background: url(../images/d_shake_btn.png) no-repeat;background-size: 65px 65px;}
%d-popup{background:url(../images/d_popup_bg.png) no-repeat;background-size: 214px 283px;}