#div {
	position: relative;
	left: 50%;
	top: 50px;
	padding: 10px;
	width:230px;
	height: 160px;
	display: inline-block;
	padding: 0 10px;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    border: 1px solid blue;
}
#calDiv {
	position: relative;
	padding: 10px;
	width:200px;
	display: inline-block;
	padding: 0 10px;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}
#calTitle {
	width:300px;
	height: 20px;
}
.prev {
	width: 20px;
	float: left;
	padding: 0px;
}
.next {
	width: 20px;
	float: left;
	padding: 0px;
} 
h4 {
	width: 130px;
	text-align: center;
	border-bottom: 1px solid;
	margin-bottom: 5px;
	margin-top: 5px;
	float: left;
}
#calTable {
	width: 210px;
	border-collapse:collapse;
	border-spacing: 0;
}
table>tbody>tr,table>tbody>tr>td {
	border: 1px solid gray;
	text-align: center;
}