@charset "UTF-8";
%bg01 { background: url("../images/l_bg01.jpg") no-repeat center 0; background-size: cover;}
%bg02 { background: url("../images/l_bg02.jpg") no-repeat center 0; background-size: cover;}
%l_icon { background: url("../images/l_icon.png") no-repeat 0 0; background-size: 16px 8px;}
%l_bg1 { background: url("../images/l_scratch_bg.png") no-repeat 0 0; background-size: 320px 275px;}
%l_star { background: url("../images/l_scratch_star.png") no-repeat 0 0; }
%l_tip01 { background: url("../images/l_scratch_mask.png") 0 0;}
%l_tipTit { background: url("../images/l_scratch_tit.png") no-repeat 0 0; background-size: 194px 45px;}
%l_prizebg1 { background: url("../images/l_prize_bg.png") repeat-x 0 bottom; background-size: 1px 26px;}
%l_loading { background: url("../images/HLloading.gif") no-repeat 0 0; background-size: 15px 15px;}
%l_bannerBg { background: url("../images/l_banner_bg.png") repeat-x 0 bottom; }