div#picViewDiv {
	position: relative;
	left: 10%;
	top:50%;
	width: 800px;
	height: 400px;
	border: 1px solid black;
	overflow: hidden;
}
div#cssDiv {
	clear:both;
}
ul#picUl {
	border:1px solid black;
}
li {
	position: absolute;
	float: left;
	list-style: none;
}
li#li_0 {
	left: 50px;
	top: 150px;
	width: 100px;
	height: 150px;
}
li#li_1 {
	left: 152px;
	top: 134px;
	width: 130px;
	height: 180px;
}
li#li_2 {
	top: 122px;
	left: 284px;
	width: 150px;
	height: 200px;
}
li#li_3 {
	left: 436px;
	top: 134px;
	width: 130px;
	height: 180px;
}
li#li_4 {
	left: 568px;
	top: 150px;
	width: 100px;
	height: 150px;
}
img {
	cursor:pointer;
	border: 1px solid black;
}
img#img_0,#img_4 {
	width: 100px;
	height: 150px;
}
img#img_1,#img_3 {
	width: 130px;
	height: 180px;
}
img#img_2 {
	width: 150px;
	height: 200px;
}












